KpdApps.Orationi.Messaging.DummyPlugins/Contracts/Dummy/DummyRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  id="DummyRequest">
  <xs:element name="DummyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestCode" type="xs:int"></xs:element>
        <xs:element name="MessageId" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="38" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>